.Rhistory
.Rprofile
.Rapp.history
.RData
.Ruserdata
/*.Rcheck/
.Rproj.user/
*_cache/
/cache/
*_files/
logo_text_white.pdf
/.quarto/
_extensions/
renv/
*.DS_Store
published-202412-ambroise-spectral.pdf
published-202412-ambroise-spectral.html
/.luarc.json
